.ewc-text-area:focus {
  outline: none;
  border: none;
}

.ewc-text-area:active {
  outline: none;
  border: none;
}

.ewc-text-area::-webkit-scrollbar-thumb {
  background: transparent;
}

.ewc-text-area::-webkit-scrollbar-track {
  background: transparent;
}

.ewc-text-area {
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
}
